.landingpage{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.banner-area{
  background-color: #f9f9ff;
}

.banner-content{
  display: grid;
  margin: auto 10%;
  padding: 10px;
  padding-bottom: 0px;
  width: 1200px;
  height: 70%;

}

.tag{
  position: absolute;
  margin-top: 40px;
  margin-left: 30px;
  text-align: left;
}

.tag-line{
  position: absolute;
  width: 600px;
  margin-top: 70p;
  margin-top: 190px;
  text-align: left;
  margin-left: 30px;
}

.feature-area{
  background-color: #fff;
}

.feature-detail{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto 10%;
  padding: 30px;
}

.item{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

.pos{
  text-align: right;
}
.image-size{
  max-width: 30%;
  height: auto;
}

.header{
  text-align: left;
}

.detail{
  font-size: 12px;
  font-style: italic;
  text-align: left;
  border-bottom: 1.3px solid #eee;
}

.icon{
  display: flex;
  text-align: right;
  justify-content: right;
  align-items: top;
  margin-top: 10px;
  color: #754ee1;
}

